@{
    ViewBag.Title = "Footer";
    Layout = null;
}

<div class="footer text-center">
    All Rights Reserved by Nice admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
</div>