@{
    ViewBag.Title = "Dash Board";
    Layout = "~/Views/Shared/Master.cshtml";
}
<link rel="stylesheet" href="~/css/Dashboard.css">

<div class="container-fluid">
    <div class="row dash-main">
        Welcome
    </div>
</div>