body {
    padding: 0;
    margin: 0;
}

.CTN {
    flex-wrap: wrap;
    position: relative;
    background-color: #161f33;
    display: flex;
    justify-content: center;
}
.CTNN {
    background-color: #161f33;

}
.SKILL_KN .SKILL_KN_1 {
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    color: rgb(255, 255, 255);
}
.text-overlay {
    position: absolute;
    top: 0;
    width: 90%; /* Đảm bảo chiều rộng giống như ảnh */
    color: white; /* Tùy chọn màu chữ */
    display: flex;
    justify-content: start;
    align-items: center;
}

.TITLE1 {
    margin-left: 7%;
}

.NICKNAME1 {
    color: rgb(200, 170, 110);
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    font-style: italic;
    text-transform: uppercase;
}
.NICKNAME2 {
    color: rgb(255, 255, 255);
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-weight: 900;
    font-size: 100px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
}
.NICKNAME3 {
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}
.NICKNAME4 {
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    color: rgb(255, 255, 255);
}
.VAITRO {
    border: 1px solid rgb(200, 170, 110);
    margin-left: 20px;
    height: 120px;
    width: 120px;
}
INVAITRO {
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.AVASKILL {
    width: 80px;
}
.DETAILSKILL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.TITLESKILL {
    font-family: Spiegel, sans-serif;
    word-break: break-word;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    width: 100px;
}
.VIDEOSKILL {
    display: flex;
    justify-content: center;
    align-items: center;
}
.VIDEOSKILL_1 {
    border: 1px solid rgb(200, 170, 110);
}
.VIDEOSKILL_2 {
    padding: 3%;
    width: 100%;
}
.NICKNAME5 {
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    padding-top: 5%;
    padding-bottom: 8%;
}
.skinlist {
    display: flex;
    justify-content: center;
}
.CTNNN {
    background-color: #ffffff;
}
@media (max-width: 991px) {
    .TITLE1 {
        margin-left: 0;
    }
    .text-overlay {
        position: static;
    }
    .VAITRO {
        margin-left: 0px;
    }
    .NICKNAME4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .TITLESKILL {
        font-size: 17px;
        color: rgb(255, 255, 255);
        margin-top: 16px;
        margin-bottom: 0;
    }
    .VIDEOSKILL {
        padding-top: 7%;
        padding-bottom: 7%;
    }
}