@{
    ViewData["Title"] = "Champion";
}
<link href="~/css/ChampionUs.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0Ff3B4o1RjM3TV7pHIUydm4e4W3F4L8tFVCmwHZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

<section class="TUONG_MODAU">
      <div class="container p-0 text-center bg-white">
          <div class="row">
            <div class="col-xxl-12" style="margin-top: 40px;">
                  <p class="TUONG_MODAU_TEXT_1">CHỌN NGAY MỘT</p>
              </div>
          </div>
          <div class="row">
              <div class="col-xxl-12">
                  <p class="TUONG_MODAU_TEXT_2">TƯỚNG</p>
              </div>
          </div>
          <div class="row">
              <div class="col-xxl-12">
                  <p class="TUONG_MODAU_TEXT_3">Với hơn 140 tướng, bạn chắc chắn sẽ tìm thấy một lựa chọn phù hợp với lối chơi của mình. Chọn một tướng tủ hoặc sử dụng điêu luyện tất cả.</p>
              </div>
          </div>
      </div>
      <div class="container p-0 bg-white">
          <div class="row">
              <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9 p-0" style="margin-bottom: 40px;">
                  <form class="form-inline d-flex justify-content-end">
                      <input class="form-control mr-sm-2 TUONG_SEARCH" type="search" id="champ-search" placeholder="Tìm tướng bạn cần" aria-label="Search">
                  </form>
              </div>
              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 p-0">
                <button class="btn btn-outline-success my-2 my-sm-0 TUONG_SEARCHBUTTON" id="search-button" type="button">Search</button>
              </div>
          </div>
      </div>
      <div class="container p-0 bg-white" style="display: flex; justify-content: space-around; margin-bottom: 40px;">
          <div class="row" id="getlistchampion">
              
          </div>
      </div>
</section>


<script>
    $(document).ready(function () {
        function fetchChampions() {
            $.ajax({
                type: "GET",
                url: "/api/UserChampion/GetUserChampion",
                dataType: "json",
                success: function (data) {
                    console.log("Data fetched successfully:", data);
                    var tbody = $('#getlistchampion');
                    tbody.empty();
                    data.forEach(function (champion, index) {
                        var row =
                            '<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" style="padding-bottom: 20px;">' +
                            '<a href="/User/Detail_Champion?Uschamp=' + champion.champName + '" id="' + champion.champName + '">' +
                            '<div class="card">' +
                            '<img class="card-img-top TUONG_CARD_IMG" src="/Pictures/Champions/' + champion.imageAVA + '" alt="Card image cap">' +
                            '<div class="card-body TUONG_CARD_BG_TEXT">' +
                            '<p class="card-text TUONG_CARD_TEXT">' + champion.champName + '</p>' +
                            '</div>' +
                            '</div>' +
                            '</a>' +
                            '</div>';
                        tbody.append(row);
                    });
                },
                error: function (error) {
                    console.error("Error fetching data:", error);
                }
            });
        }

        function searchChampion(champName) {
            $.ajax({
                type: "GET",
                url: "/api/UserChampion/GetUserChampionSearch",
                data: { champName: champName },
                dataType: "json",
                success: function (data) {
                    var tbody = $('#getlistchampion');
                    tbody.empty();
                    if (data) {
                        var champion = data;
                        var row =
                            '<div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" style="width: 100%;">' +
                            '<a href="/User/Detail_Champion?Uschamp=' + champion.champName + '" id="' + champion.champName + '">' +
                            '<div class="card">' +
                            '<img class="card-img-top TUONG_CARD_IMG" src="/Pictures/Champions/' + champion.imageAVA + '" alt="Card image cap">' +
                            '<div class="card-body TUONG_CARD_BG_TEXT">' +
                            '<p class="card-text TUONG_CARD_TEXT">' + champion.champName + '</p>' +
                            '</div>' +
                            '</div>' +
                            '</a>' +
                            '</div>';
                        tbody.append(row);
                    } else {
                        tbody.append('<div class="col-12 text-center"><p>Không tìm thấy tướng</p></div>');
                    }
                },
                error: function (error) {
                    console.error("Error fetching data:", error);
                }
            });
        }

        // Fetch all champions when the page loads
        fetchChampions();

        // Search champion on button click
        $('#search-button').click(function () {
            var champName = $('#champ-search').val().trim();
            if (champName) {
                searchChampion(champName);
            } else {
                fetchChampions(); // Fetch all champions if search input is empty
            }
        });

        // Optional: Search champion on enter key press
        $('#champ-search').keypress(function (e) {
            if (e.which == 13) {
                var champName = $('#champ-search').val().trim();
                if (champName) {
                    searchChampion(champName);
                } else {
                    fetchChampions(); // Fetch all champions if search input is empty
                }
            }
        });
    });

</script>
