@{
	ViewData["Title"] = "ChoiNgay";
	Layout = null;
}
<link href="~/css/ChoiNgayUs.css" rel="stylesheet">
<div class="container-fluid CN w-100 p-0">
    <div class="row">
        <div class="col-xxl-12 CN_PHANDAU_COL mt-4">
            <div class="CN_ICON">
                <img class="img-fluid" src="~/Pictures/IconGames/Icon 9.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="CN_PHANTHAN d-flex flex-column justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-xxl-12">
                <div class="CN_TEXT">
                    <h1>CHƠI LIÊN MINH HUYỀN THOẠI</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 mt-3 mb-5">
                <img class="img-fluid" src="/Pictures/IconGames/Icon 5.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="CN_BUTTON">
                    <button class="btn btn-lg">
                        <a href="">TẢI VỀ CHO WINDOWS</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="CN_PHANCUOI mt-5">
        <div class="row">
            <div class="col-xxl-12  d-flex justify-content-start align-items-center">
                <div class="CN_PHAN_CUOI_ICON_1">
                    <img class="img-fluid" src="~/Pictures/IconGames/Icon 1.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 CN_PHAN_CUOI_COL">
                <div class="CN_PHAN_CUOI_ICON_2">
                    <img class="img-fluid" src="~/Pictures/IconGames/Icon_12.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 mt-3">
                <div class="CN_PHANCUOI_TEXT d-flex flex-column justify-content-center align-items-center text-center">
                    <p>
                        Trang web này được bảo mật bởi hCAPTCHA và tuân thủ theo
                        <a href="#">Chính Sách Quyền Riêng Tư</a>
                        và
                        <a href="#">Điều Khoản Dịch Vụ</a>
                        của hCAPTCHA.
                    </p>
                    <p>© 2024 Tập đoàn Riot Games. Đã đăng ký bản quyền.</p>
                </div>
            </div>
        </div>
    </div>
</div>