@{
    ViewData["Title"] = "Detail Champion";
    Layout = null;
}
<link href="~/css/Detail_ChampionUs.css" rel="stylesheet" />
<link href="~/js/Detail_ChampionUs.js" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0Ff3B4o1RjM3TV7pHIUydm4e4W3F4L8tFVCmwHZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    body{
        padding: 0;
        margin: 0;
    }

    .container-fluid {
        position: relative;
        background-color: #161f33;
        display: flex;
        justify-content: center;
    }

    .text-overlay {
        position: absolute;
        top: 0;
        width: 80%; 
        color: white; 
        display: flex;
        justify-content: start;
        align-items: center;
    }

    img {
        width: 90%;
        height: auto; 
    }
</style>
<div class="container-fluid" id="getuserchampiondetail">
    
</div>
<div class="container-fluid" id="getuserskilldetail">
    
</div>
<div class="container-fluid" id="getuserskindetail">
    
</div>
@* <section class="DTC">
    <div class="container DTC_CONTAINER p-0">
        <div class="row">
            <div class="col-xl-6 col-xl-6 col-lg-6 d-flex flex-column justify-content-center p-0">
                <div class="DTC_TIEUDE_KYNANG">
                    <div class="col-xxl-12 text-center">
                        <h1>KỸ NĂNG</h1>
                    </div>
                </div>
                <div class="DTC_TIEUDE_THANHKYNANG d-flex">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 DTC_KYNANG_COL d-flex flex-column " onclick="updateDTCSkillContent('noitai')">
                        <img class="img-fluid" src="~/Pictures/IconGames/Icon-24.png" alt="Alternate Text" />
                        <p>ĐƯỜNG KIẾM TUYỆT DUYỆT</p>
                    </div>
                    <div class="col-xxl-2  col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 DTC_KYNANG_COL d-flex flex-column" onclick="updateDTCSkillContent('skillq')">
                        <img class="img-fluid" src="~/Pictures/IconGames/Icon-25.png" alt="Alternate Text" />
                        <p>QỦY KIẾM DARKIN</p>

                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 DTC_KYNANG_COL d-flex flex-column" onclick="updateDTCSkillContent('skillw')">
                        <img class="img-fluid" src="~/Pictures/IconGames/Icon-26.png" alt="Alternate Text" />
                        <p>XIỀNG XÍCH ĐỊA NGỤC</p>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 DTC_KYNANG_COL d-flex flex-column" onclick="updateDTCSkillContent('skille')">
                        <img class="img-fluid" src="~/Pictures/IconGames/Icon-27.png" alt="Alternate Text" />
                        <p>BỘ PHÁP HẮC ÁM</p>

                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 DTC_KYNANG_COL d-flex flex-column" onclick="updateDTCSkillContent('skillr')">
                        <img class="img-fluid" src="~/Pictures/IconGames/Icon-28.png" alt="Alternate Text" />
                        <p>CHIẾN BINH TẬN THẾ</p>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 d-none">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xl-6 col-lg-6">
                <div class="DTC_BORDER_VIDEO">
                    <div class="DTC_VIDEO_KYNANG">
                        <video class="DTC_VIDEO_IN_KYNANG w-100" muted autoplay loop id="mainDTCskillVideo">
                            <source id="mainDTCVideoskillsource" src="~/Videos/VideoNoiTai.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="DTC_VIDEO_TEXT_KYNANG mt-2">
                    <p id="mainNameDTCVideoskill">ĐƯỜNG KIẾM TUYỆT DIỆT</p>
                    <p id="mainDescriptionDTCVdieoskill" class="DTC_VIDEO_TEXT_KYNANG_1">NỘI TẠI</p>
                    <p id="mainDescriptionDTCVdieoskill2" class="DTC_VIDEO_TEXT_KYNANG_2">Theo chu kỳ, đòn đánh kế tiếp của Aatrox gây thêm sát thương vật lý và hồi máu, dựa theo máu tối đa của mục tiêu.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/Detail_ChampionUs.js"></script>
</section>

<section class="DTC_SKIN">
    <div class="container DTC_SKIN_CONTAINER p-0">
        <div class="row">
            <div class="DTC_SKIN_TIEUDE">
                <p>TRANG PHỤC HIỆN CÓ</p>
            </div>
            <div class="col-xxl-12">
                <div class="DTC_SKIN_SHOW">
                    <img id="mainSkinImage" class="img-fluid" src="~/Pictures/Backgrounds/Aatrox_0.jpg" alt="Alternate Text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="DTC_THANH_SKIN">
                    <div class="row">
                        <div class="owl-carousel owl-theme">
                            <div class="item" onclick="updateDTCSkinContent('skin0')"><img src="~/Pictures/Skin/Aatrox_0.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin1')"><img src="~/Pictures/Skin/Aatrox_1.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin2')"><img src="~/Pictures/Skin/Aatrox_2.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin3')"><img src="~/Pictures/Skin/Aatrox_3.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin4')"><img src="~/Pictures/Skin/Aatrox_4.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin5')"><img src="~/Pictures/Skin/Aatrox_5.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin6')"><img src="~/Pictures/Skin/Aatrox_6.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin7')"><img src="~/Pictures/Skin/Aatrox_7.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin8')"><img src="~/Pictures/Skin/Aatrox_8.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin9')"><img src="~/Pictures/Skin/Aatrox_5.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin10')"><img src="~/Pictures/Skin/Aatrox_9.jpg" /></div>
                            <div class="item" onclick="updateDTCSkinContent('skin11')"><img src="~/Pictures/Skin/Aatrox_10.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/Detail_ChampionUs.js"></script>
</section> *@


<p id="displayId"></p>
<script>
    function getQueryParameter(name) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    };
    function adjustHeight() {
        var img = document.getElementById('backgroundImage');
        var textOverlay = document.getElementById('textOverlay');
        textOverlay.style.height = img.clientHeight + 'px';
    };
    window.onresize = adjustHeight;
    function fetchChampionDetails() {
        var champName = getQueryParameter("Uschamp");
        $.ajax({
            type: "GET",
            url: "/api/UserChampion/GetUserChampionDetail",
            data: { champName: champName },
            dataType: "json",
            success: function (champion) {
                var container = $('#getuserchampiondetail');
                container.empty();
                var row =
                    '<img id="backgroundImage" src="/Pictures/Backgrounds_Champs/' + champion.imageDD + '" onload="adjustHeight()" />' +
                    '<div id="textOverlay" class="text-overlay">' +
                    '<div style="width:75%;">' +
                    '<h3>' + champion.nickName + ' </h3>' +
                    '<h1> ' + champion.champName + ' </h1>' +
                    '<p> ' + champion.describle + ' </p>' +
                    '<div style="display: flex;">' +
                    '<div>' +
                    '<p>Vai trò: ' + champion.role + ' </p>' +
                    '</div>' +
                    '<div>' +
                    '<p>Độ khó: ' + champion.level + ' </p>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                container.append(row);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    };

    $(document).ready(function () {
        fetchChampionDetails(); 
        setInterval(fetchChampionDetails, 30000);
    });
    function fetchSkillDetails() {
        var champName = getQueryParameter("Uschamp");
        $.ajax({
            type: "GET",
            url: "/api/UserSkill/GetUserSkillDetail",
            data: { champName: champName },
            dataType: "json",
            success: function (skill) {
                var container = $('#getuserskilldetail');
                container.empty();
                var row =
                    '<div>' +
                    '<h1>Ky nang</h1>' +
                    '<div style = "display: flex;">' +
                    '<div>' +
                    '<img src = "/Pictures/Skills/Skills_NT/' + skill.avA_NT + '" />' +
                    '<p>' + skill.noiTai + '</p>' +
                    '</div>' +
                    '<div>' +
                    '<img src = "/Pictures/Skills/Skills_Q/' + skill.avA_Q + '" />' +
                    '<p>' + skill.skillQ + '</p>' +
                    '</div>' +
                    '<div>' +
                    '<img src = "/Pictures/Skills/Skills_W/' + skill.avA_W + '" />' +
                    '<p>' + skill.skillW + '</p>' +
                    '</div>' +
                    '<div>' +
                    '<img src = "/Pictures/Skills/Skills_E/' + skill.avA_E + '" />' +
                    '<p>' + skill.skillE + '</p>' +
                    '</div>' +
                    '<div>' +
                    '<img src = "/Pictures/Skills/Skills_R/' + skill.avA_R + '" />' +
                    '<p>' + skill.skillR + '</p>' +
                    '</div>' 
                    '</div>' +
                    '</div>';
                container.append(row);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    };
    $(document).ready(function () {
        fetchSkillDetails(); 
        setInterval(fetchSkillDetails, 30000); 
    });
    function fetchSkinDetails() {
        var champName = getQueryParameter("Uschamp");
        $.ajax({
            type: "GET",
            url: "/api/UserSkin/GetUserSkinDetail",
            data: { champName: champName },
            dataType: "json",
            success: function (skin) {
                var container = $('#getuserskindetail');
                container.empty();
                var row = '<div>' +
                    '<h1>Tranh phuc hien co</h1>' +
                    '<div style="display: flex;" class="skinlist">' +
                    '<div style="display: flex; flex-direction: column;">';

                var skinProperties = ['skin1', 'skin2', 'skin3', 'skin4', 'skin5', 'skin6', 'skin7', 'skin8', 'skin9', 'skin10', 'skin11', 'skin12', 'skin13', 'skin14', 'skin15', 'skin16', 'skin17', 'skin18'];

                for (var i = 0; i < skinProperties.length; i++) {
                    var skinProperty = skinProperties[i];
                    if (skin[skinProperty]) {
                        row += '<img src="/Pictures/Skins/' + skin[skinProperty] + '"/>';
                    }
                }

                row += '</div></div></div>';
                container.append(row);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    };
    $(document).ready(function () {
        fetchSkinDetails(); 
        setInterval(fetchSkinDetails, 30000); 
    });
</script>
