@{
    ViewData["Title"] = "Detail Update";
    Layout = null;
}
<link href="~/css/Detail_UpdateUs.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0Ff3B4o1RjM3TV7pHIUydm4e4W3F4L8tFVCmwHZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    body {
        padding: 0;
        margin: 0;
    }

    .container-fluid {
        position: relative;
        background-color: #161f33;
        display: flex;
        justify-content: center;
    }

    .text-overlayy {
        position: absolute;
        top: 0;
        width: 90%;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    img {
        width: 90%;
        height: auto;
    }
</style>
<div class="container-fluid" id="getuserupdatedetail">
</div>

@* <section class="DTU">
    <div class="container DTU_BG w-100 p-0">
        <div class="DTU_PHANDAU">
            <div class="row">
                <div class="col-xxl-12 DTU_MAIN d-flex justify-content-center align-items-center">
                    <img class="img-fluid  w-50" src="~/Pictures/Backgrounds/fakerpng.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
        <div class="DTU_PHANDAU_TIEUDE mt-3">
            <div class="row">
                <div class="col-xxl-12 DTU_PHANDAU_TIEUDE_COL">
                    <p class="mb-3">Thông Tin Bản Cập Nhật 14.11</p>
                    <span>Cháy hơn nắng hè cùng Bản Cập Nhật 14.11 🔥</span>
                </div>
            </div>
        </div>
        <div class="DTU_PHANTHAN_CONTAINER">
            <div class="DTU_PHANTHAN_TIEUDE mt-5">
                <div class="row">
                    <div class="col-xxl-12">
                        <p>TIÊU ĐIỂM CẬP NHẬT</p>
                    </div>
                </div>
            </div>
            <div class="DTU_PHANTHAN_BANG">
                <div class="DTU_PHANTHAN_BANG_IMG">
                    <div class="row">
                        <div class="col-xxl-12">
                            <img class="img-fluid" src="~/Pictures/Backgrounds/Aatrox_0.jpg" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
                <div class="DTU_PHANTHAN_BANG_TEXT">
                    <div class="row">
                        <div class="col-xxl-12">
                            <p>Ashe Hỏa Ngục, Olaf Hỏa Ngục và Karma Hỏa Ngục sẽ ra mắt vào 01:00 sáng ngày 31/05/2024 (giờ Việt Nam).</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="DTU_PHANTHAN_BANG_2_CONTAINER mt-5">
                <div class="DTU_PHANTHAN_BANG_2_TIEUDE">
                    <div class="row">
                        <div class="col-xxl-12">
                            <p>CẬP NHẬT GIỮA PHIÊN BẢN 14.10</p>
                        </div>
                    </div>
                </div>
                <div class="DTU_PHANTHAN_BANG_2">
                    <div class="DTU_PHANTHAN_BANG_2_TEXT">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>
                                    Cửa Hiệu Tinh Hoa Lam đã trở lại một lần nữa! Bạn sẽ có thể dùng Tinh Hoa Lam để mua các đa sắc, phụ kiện đủ điều kiện và nhiều thứ khác bắt đầu từ 01:00 sáng ngày 31/05 (giờ Việt Nam). Cũng như lần trước, biểu tượng và mẫu mắt kỳ bí cũng sẽ quay trở lại, vậy nên các bạn hãy sẵn sàng ẵm chúng ngay đi nhé! Cửa Hiệu sẽ mở cho đến 01:00 ngày 20/06 (giờ Việt Nam), đừng quên ghé thăm trong thời gian này để tiêu Tinh Hoa Lam nhé!
                                </p>
                                <ul>
                                    <li>Do vấn đề kỹ thuật, chúng tôi sẽ vô hiệu hóa tính năng gửi tặng biểu tượng và mẫu mắt kỳ bí. Chúng tôi vẫn đang xử lý vấn đề, tuy nhiên tính năng kể trên sẽ trở không thể ra mắt cùng Cửa Hiệu Tinh Hoa lần này.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="DTU_PHANTHAN_BANG_3_CONTAINER mt-5">
                <div class="DTU_PHANTHAN_BANG_3_TIEUDE">
                    <div class="row">
                        <div class="col-xxl-12">
                            <p>TƯỚNG</p>
                        </div>
                    </div>
                </div>
                <div class="DTU_PHANTHAN_BANG_3">
                    <div class="DTU_PHANTHAN_BANG_3_TEXT">
                        <div class="row">
                            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                                <img class="img-fluid" src="~/Pictures/Champions Update/P1.png" alt="Alternate Text" />
                            </div>
                            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-8 col-sm-8 col-6 d-flex justify-content-start align-items-center text-start">
                                <div class="DTU_PHANTHAN_BANG_3_IN_TEXT_SUBTEXT">
                                    <a href="#">Akshan</a>
                                    <p class="DTU_PHANTHAN_BANG_3_IN_TEXT_SUBTEXT_2">Tăng tỉ lệ tốc độ đánh. W - Giảm sát thương Thiện Xạ. R - Giảm sát thương.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DTU_PHANTHAN_BANG_3_MAIN mt-3">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>
                                    Caitlyn đang khá mạnh ở thời điểm hiện tại, nhưng cô lại chủ yếu dựa vào Đòn Phủ Đầu để nhất kích tất sát kẻ địch. Chúng tôi sẽ tăng lượng sát thương duy trì của cô và giảm bớt lượng sát thương tức thời. Mục tiêu của chúng tôi với những thay đổi này là giữ cho cô vẫn mạnh, nhưng sức mạnh đó sẽ bị chuyển dịch một chút.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="DTU_PHANTHAN_BANG_3_BORDERBOTTOM mt-3 mb-3">
                    </div>
                    <div class="DTU_PHANTHAN_BANG_3_CHISO">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>Chỉ Số Cơ Bản</p>
                                <ul>
                                    <li>
                                        <b>Tốc Độ Đánh Theo Cấp</b>: 0,568 ⇒ 0,594
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="DTU_PHANTHAN_BANG_3_BORDERBOTTOM mt-3 mb-3">
                    </div>
                    <div class="DTU_PHANTHAN_BANG_3_SKILL mt-4">
                        <div class="row">
                            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-3 col-4">
                                <img class="img-fluid" src="~/Pictures/IconGames/Icon-25.png" alt="Alternate Text" />
                            </div>
                            <div class="col-xxl-11 col-xl-11 col-lg-10 col-md-10 col-sm-9 col-8 d-flex justify-content-start align-items-center text-center">
                                <p>W - Bẫy Yordle</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-xxl-12">
                                <ul>
                                    <li><b>Tăng sát thương Thiện Xạ</b> : 40/85 /130/175/220 (+40/50/60/70/80% SMCK cộng thêm) ⇒ 40/85/130/175/220 (+40% SMCK cộng thêm)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="DTU_PHANTHAN_BANG_4_CONTAINER mt-5">
                <div class="DTU_PHANTHAN_BANG_4_TIEUDE">
                    <div class="row">
                        <div class="col-xxl-12">
                            <p>TRANG BỊ</p>
                        </div>
                    </div>
                </div>
                <div class="DTU_PHANTHAN_BANG_4">
                    <div class="DTU_PHANTHAN_BANG_4_IMG">
                        <div class="row">
                            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-3 col-4">
                                <img class="img-fluid" src="~/Pictures/IconGames/Khien.png" alt="Alternate Text" />
                            </div>
                            <div class="col-xxl-11 col-xl-11 col-lg-10 col-md-10 col-sm-9 col-8 d-flex justify-content-start align-items-center text-center">
                                <a href="#">Khiên Vàng Thượng Giới</a>
                            </div>
                        </div>
                    </div>
                    <div class="DTU_PHANTHAN_BANG_4_MAIN mt-4">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>
                                    Nội Tại của Khiên Vàng Thượng Giới hiện đang kích hoạt bởi Lời Thề Hiệp Sĩ và nếu đồng đội của họ tiếp tục nhận sát thương, nó sẽ liên tục đặt lại hồi chiêu, việc này sẽ khiến hiệu ứng bị lãng phí. Tương tác của nó với lượng sát thương nhỏ như Giáp Gai cũng khá hợp lý, nhưng chúng tôi muốn Lời Thề Hiệp Sĩ là trường hợp ngoại lệ để chúng có thể kết hợp với nhau tốt hơn.
                                </p>
                                <ul>
                                    <li>Nội Tại không còn kích hoạt từ sát thương của Lời Thề Hiệp Sĩ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="DTU_PHANTHAN_BANG_5_CONTAINER mt-5">
                <div class="DTU_PHANTHAN_BANG_5_TIEUDE">
                    <div class="row">
                        <div class="col-xxl-12">
                            <p>NGỌC BỔ TRỢ</p>
                        </div>
                    </div>
                </div>
                <div class="DTU_PHANTHAN_BANG_5">
                    <div class="DTU_PHANTHAN_BANG_5_IMG">
                        <div class="row">
                            <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-3 col-4">
                                <img class="img-fluid" src="~/Pictures/IconGames/botro.png" alt="Alternate Text" />
                            </div>
                            <div class="col-xxl-11 col-xl-11 col-lg-10 col-md-10 col-sm-9 col-8 d-flex justify-content-start align-items-center text-center">
                                <p>Đốn Hạ</p>
                            </div>
                        </div>
                    </div>
                    <div class="DTU_PHANTHAN_BANG_5_MAIN mt-4">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>
                                    Nội Tại của Khiên Vàng Thượng Giới hiện đang kích hoạt bởi Lời Thề Hiệp Sĩ và nếu đồng đội của họ tiếp tục nhận sát thương, nó sẽ liên tục đặt lại hồi chiêu, việc này sẽ khiến hiệu ứng bị lãng phí. Tương tác của nó với lượng sát thương nhỏ như Giáp Gai cũng khá hợp lý, nhưng chúng tôi muốn Lời Thề Hiệp Sĩ là trường hợp ngoại lệ để chúng có thể kết hợp với nhau tốt hơn.
                                </p>
                                <ul>
                                    <li>Gây thêm 8% sát thương (trừ sát thương chuẩn) lên tướng địch có trên 60% Máu Tối Đa ⇒ Gây thêm 8% sát thương (trừ sát thương chuẩn) lên tướng địch có trên 50% Máu Tối Đa</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="DTU_PHANTHAN_BANG_6_CONTAINER mt-5">
                <div class="DTU_PHANTHAN_BANG_6_TIEUDE">
                    <div class="row">
                        <div class="col-xxl-12">
                            <p>SỬA LỖI & NÂNG CẤP CHẤT LƯỢNG TRẢI NGHIỆM</p>
                        </div>
                    </div>
                </div>
                <div class="DTU_PHANTHAN_BANG_6">
                    <div class="DTU_PHANTHAN_BANG_6_MAIN_1">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>Nâng Cấp Chất Lượng Trải Nghiệm</p>
                                <ul>
                                    <li>Cập nhật AI Máy Cực Dễ - cải tiến hành vi của AI tập trung vào việc trợ giúp những người chơi mới.</li>
                                    <li>
                                        Một vài vị trí để người chơi nhập RIOT ID đã được tách thành 2 ô nhập liệu, một ô cho Tên Trò Chơi, và ô còn lại cho Thẻ Tên.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="DTU_PHANTHAN_BANG_3_BORDERBOTTOM mt-3 mb-3">
                    </div>
                    <div class="DTU_PHANTHAN_BANG_6_MAIN_2">
                        <div class="row">
                            <div class="col-xxl-12">
                                <p>Sửa Lỗi</p>
                                <ul>
                                    <li>
                                        Sửa lỗi khiến tùy chọn theo dõi đôi khi bị làm mờ và ngăn bạn xem được trận đấu của bạn bè.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến việc tải về xem lại đôi khi không hoàn thành và hiển thị thông báo "xem lại bị lỗi" khi bạn cố xem chúng.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến phân thân của Ngộ Không có thể kích hoạt Dao Điện Statikk trên Ngộ Không.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến Dao Điện Statikk hiển thị sát thương gây ra là 0.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến bộ đếm đạn của Corki hiển thị không chính xác sau khi tăng cấp.
                                    </li>
                                    <li>
                                        Sửa lỗi hiển thị với bộ đếm đạn của Corki khi nó không hiển thị 2 tên lửa khi nâng R lần đầu tiên.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến Q của Heimerdinger đôi khi bị khóa lại khi hắn ta có tích trữ.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến Dao Điện Statikk kích hoạt Bù Nhìn Kỳ Quái của Fiddlesticks.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến tốc độ cộng thêm ngoài giao tranh của Giày Đồng Bộ bị mất sau khi tấn công mắt.
                                    </li>
                                    <li>
                                        Sửa lỗi khiến Dao Điện Statikk có thể kích hoạt trên phân thân, đôi khi chính phân thân của bạn.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section> *@

<p id="displayId"></p>
<script>
    function getQueryParameterr(name) {
        var urlParamss = new URLSearchParams(window.location.search);
        return urlParamss.get(name);
    };
    function adjustHeight() {
        var img = document.getElementById('backgroundImagee');
        var textOverlay = document.getElementById('textOverlayy');
        textOverlay.style.height = img.clientHeight + 'px';
    };
    window.onresize = adjustHeight;
    function fetchUpdateDetails() {
        var version_update = getQueryParameterr("Usupdate");
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserUpdateDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (update) {
                var container = $('#getuserupdatedetail');
                container.empty();
                var row =
                    '<img id="backgroundImagee" src="/Pictures/Update/' + update.picheadblur + '" onload="adjustHeight()" />' +
                    '<img id="backgroundImagee" src="/Pictures/Update/' + update.picheadmain + '" onload="adjustHeight()" />' +
                    '<img id="backgroundImagee" src="/Pictures/Update/' + update.picupdate + '" onload="adjustHeight()" />' +
                    '<h3>' + update.version_update + ' </h3>' +
                    '<h1> ' + update.maintitle + ' </h1>' +
                    '<p> ' + update.maindestitle + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle1 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con1 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle2 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con2 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle3 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con3 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle4 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con4 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle5 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con5 + ' </p>' +
                    '<div class="container" id="getuserdetailchampdetail-' + update.version_update + '">' +
                    '</div>' +
                    '<div class="container" id="getuserdetailskilldetail-' + update.version_update + '">' +
                    '</div>' +
                    '<div class="container" id="getuserdetailitemdetail-' + update.version_update + '">' +
                    '</div>' +
                    '<p>Độ khó: ' + update.nangcaptrainghiem + ' </p>' +
                    '<p>Độ khó: ' + update.sualoi + ' </p>';
                container.append(row);
                fetchdetailchampDetails(version_update);
                fetchdetailskillDetails(version_update);
                fetchdetailitemDetails(version_update);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    };
    function fetchdetailchampDetails(version_update) {
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserDetailChampDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (data) {
                var container = $('#getuserdetailchampdetail-' + version_update);
                container.empty();
                data.forEach(function (champ) {
                    var card =
                        '<p>Độ khó bìu: ' + champ.dame_nt + ' </p>' +
                        '<p>Độ khó bìu: ' + champ.dame_q + ' </p>' +
                        '<p>Độ khó bìu: ' + champ.dame_w + ' </p>' +
                        '<p>Độ khó bìu: ' + champ.dame_e + ' </p>' +
                        '<p>Độ khó bìu: ' + champ.dame_r + ' </p>' +
                        '<p>Độ khó bìu: ' + champ.detail_NN + ' </p>';
                    container.append(card);
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    }
    function fetchdetailskillDetails(version_update) {
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserSkillDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (data) {
                var container = $('#getuserdetailskilldetail-' + version_update);
                container.empty();
                data.forEach(function (skill) {
                    var card =
                        '<p>Độ khó bìu: ' + skill.noiTai + ' </p>' +
                        '<p>Độ khó bìu: ' + skill.skillQ + ' </p>' +
                        '<p>Độ khó bìu: ' + skill.skillW + ' </p>' +
                        '<p>Độ khó bìu: ' + skill.skillE + ' </p>' +
                        '<p>Độ khó bìu: ' + skill.skillR + ' </p>' +
                        '<img id="backgroundImagee" src="/Pictures/Skills/Skills_NT/' + skill.avA_NT + '" onload="adjustHeight()" />' +
                        '<img id="backgroundImagee" src="/Pictures/Skills/Skills_Q/' + skill.avA_Q + '" onload="adjustHeight()" />' +
                        '<img id="backgroundImagee" src="/Pictures/Skills/Skills_W/' + skill.avA_W + '" onload="adjustHeight()" />' +
                        '<img id="backgroundImagee" src="/Pictures/Skills/Skills_E/' + skill.avA_E + '" onload="adjustHeight()" />' +
                        '<img id="backgroundImagee" src="/Pictures/Skills/Skills_R/' + skill.avA_R + '" onload="adjustHeight()" />';
                    container.append(card);
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    }
    function fetchdetailitemDetails(version_update) {
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserItemDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (data) {
                var container = $('#getuserdetailitemdetail-' + version_update);
                container.empty();
                data.forEach(function (item) {
                    var card =
                        '<p>Độ khó bìu: ' + item.nameitem + ' </p>' +
                        '<img id="backgroundImagee" src="/Pictures/Items/' + item.picitem + '" onload="adjustHeight()" />' +
                        '<p>Độ khó bìu: ' + item.health + ' </p>' +
                        '<p>Độ khó bìu: ' + item.atkdame + ' </p>' +
                        '<p>Độ khó bìu: ' + item.apdame + ' </p>' +
                        '<p>Độ khó bìu: ' + item.atkspeed + ' </p>' +
                        '<p>Độ khó bìu: ' + item.crit + ' </p>' +
                        '<p>Độ khó bìu: ' + item.armor + ' </p>' +
                        '<p>Độ khó bìu: ' + item.magicresis + ' </p>' +
                        '<p>Độ khó bìu: ' + item.ahaste + ' </p>' +
                        '<p>Độ khó bìu: ' + item.movespeed + ' </p>' +
                        '<p>Độ khó bìu: ' + item.noitaiitem + ' </p>' +
                        '<p>Độ khó bìu: ' + item.cost + ' </p>';
                    container.append(card);
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    }
    $(document).ready(function () {
        fetchUpdateDetails();
        setInterval(fetchUpdateDetails, 30000);
    });
    $(document).ready(function () {
        fetchdetailchampDetails();
        setInterval(fetchdetailchampDetails, 30000);
    });
    $(document).ready(function () {
        fetchdetailskillDetails();
        setInterval(fetchdetailskillDetails, 30000);
    });
    $(document).ready(function () {
        fetchdetailitemDetails();
        setInterval(fetchdetailitemDetails, 30000);
    });
</script>
