@{
    ViewData["Title"] = "Detail Update";
    Layout = null;
}
<link href="~/css/Detail_UpdateUs.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0Ff3B4o1RjM3TV7pHIUydm4e4W3F4L8tFVCmwHZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    body {
        padding: 0;
        margin: 0;
    }

    .container-fluid {
        position: relative;
        background-color: #161f33;
        display: flex;
        justify-content: center;
    }

    .text-overlay {
        position: absolute;
        top: 0;
        width: 90%;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    img {
        width: 90%;
        height: auto;
    }
</style>
<div class="container-fluid" id="getuserupdatedetail"></div>

<p id="displayId"></p>
<script>
    

    function fetchUpdateDetails() {
        var version_update = getQueryParameter("Usupdate");
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserUpdateDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (update) {
                var container = $('#getuserupdatedetail');
                container.empty();
                var row =
                    '<img id="backgroundImage" src="/Pictures/Update/' + update.picheadblur + '" />' +
                    '<img id="backgroundImage" src="/Pictures/Update/' + update.picheadmain + '" />' +
                    '<img id="backgroundImage" src="/Pictures/Update/' + update.picupdate + '" />' +
                    '<h3>' + update.version_update + ' </h3>' +
                    '<h1> ' + update.maintitle + ' </h1>' +
                    '<p> ' + update.maindestitle + ' </p>' +
                    '<div class="container" id="getuserdetailchampdetail-' + update.version_update + '">' +
                    '</div>';
                container.append(row);
                fetchChampDetailUpdate(version_update);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    }
    function fetchChampDetailUpdate(version_update) {
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserDetailChampDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (data) {
                var container = $('#getuserdetailchampdetail-' + version_update);
                container.empty();
                console.log("Data:");
                data.forEach(function (champ) {
                    console.log("Data:", champ.champName);
                    var row =
                        '<h5>' + champ.champName + '</h5>';
                    container.append(row);
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    };
    // Utility function to get query parameters
    function getQueryParameter(name) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
    // Call fetchUpdateDetails on page load
    $(document).ready(function () {
        fetchUpdateDetails();
    });
</script>



