@{
    ViewData["Title"] = "Detail Update";
    Layout = null;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0Ff3B4o1RjM3TV7pHIUydm4e4W3F4L8tFVCmwHZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    body {
        padding: 0;
        margin: 0;
    }

    .container-fluid {
        position: relative;
        background-color: #161f33;
        display: flex;
        justify-content: center;
    }

    .text-overlayy {
        position: absolute;
        top: 0;
        width: 90%;
        color: white;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    img {
        width: 90%;
        height: auto;
    }
</style>
<div class="container-fluid" id="getuserupdatedetail">
</div>
<div class="container-fluid" id="getuserchampiondetail">
</div>
<div class="container-fluid" id="getuserskilldetail">
</div>
<div class="container-fluid" id="getuserskindetail">
</div>



<p id="displayId"></p>
<script>
    function getQueryParameterr(name) {
        var urlParamss = new URLSearchParams(window.location.search);
        return urlParamss.get(name);
    };
    function adjustHeight() {
        var img = document.getElementById('backgroundImagee');
        var textOverlay = document.getElementById('textOverlayy');
        textOverlay.style.height = img.clientHeight + 'px';
    };
    window.onresize = adjustHeight;
    function fetchUpdateDetails() {
        var version_update = getQueryParameterr("Usupdate");
        $.ajax({
            type: "GET",
            url: "/api/UserUpdate/GetUserUpdateDetail",
            data: { version_update: version_update },
            dataType: "json",
            success: function (update) {
                var container = $('#getuserupdatedetail');
                container.empty();
                var row =
                    '<img id="backgroundImagee" src="/Pictures/Update/' + update.picheadblur + '" onload="adjustHeight()" />' +
                    '<img id="backgroundImagee" src="/Pictures/Update/' + update.picheadmain + '" onload="adjustHeight()" />' +
                    '<img id="backgroundImagee" src="/Pictures/Update/' + update.picupdate + '" onload="adjustHeight()" />' +
                    '<h3>' + update.version_update + ' </h3>' +
                    '<h1> ' + update.maintitle + ' </h1>' +
                    '<p> ' + update.maindestitle + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle1 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con1 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle2 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con2 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle3 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con3 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle4 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con4 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle5 + ' </p>' +
                    '<p>Vai trò: ' + update.upversiontitle_con5 + ' </p>' +
                    '<p>Độ khó: ' + update.nangcaptrainghiem + ' </p>' +
                    '<p>Độ khó: ' + update.sualoi + ' </p>';
                    '<p>Độ khó bìu: ' + update.skillQ + ' </p>';
                container.append(row);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    };

    $(document).ready(function () {
        fetchUpdateDetails();
        setInterval(fetchUpdateDetails, 30000);
    });
    // function fetchSkillDetails() {
    //     var champName = getQueryParameter("Uschamp");
    //     $.ajax({
    //         type: "GET",
    //         url: "/api/UserSkill/GetUserSkillDetail",
    //         data: { champName: champName },
    //         dataType: "json",
    //         success: function (skill) {
    //             var container = $('#getuserskilldetail');
    //             container.empty();
    //             var row =
    //                 '<div>' +
    //                 '<h1>Ky nang</h1>' +
    //                 '<div style = "display: flex;">' +
    //                 '<div>' +
    //                 '<img src = "/Pictures/Skills/Skills_NT/' + skill.avA_NT + '" />' +
    //                 '<p>' + skill.noiTai + '</p>' +
    //                 '</div>' +
    //                 '<div>' +
    //                 '<img src = "/Pictures/Skills/Skills_Q/' + skill.avA_Q + '" />' +
    //                 '<p>' + skill.skillQ + '</p>' +
    //                 '</div>' +
    //                 '<div>' +
    //                 '<img src = "/Pictures/Skills/Skills_W/' + skill.avA_W + '" />' +
    //                 '<p>' + skill.skillW + '</p>' +
    //                 '</div>' +
    //                 '<div>' +
    //                 '<img src = "/Pictures/Skills/Skills_E/' + skill.avA_E + '" />' +
    //                 '<p>' + skill.skillE + '</p>' +
    //                 '</div>' +
    //                 '<div>' +
    //                 '<img src = "/Pictures/Skills/Skills_R/' + skill.avA_R + '" />' +
    //                 '<p>' + skill.skillR + '</p>' +
    //                 '</div>'
    //             '</div>' +
    //                 '</div>';
    //             container.append(row);
    //         },
    //         error: function (error) {
    //             console.error("Error fetching data:", error);
    //         }
    //     });
    // };
    // $(document).ready(function () {
    //     fetchSkillDetails();
    //     setInterval(fetchSkillDetails, 30000);
    // });
    // function fetchSkinDetails() {
    //     var champName = getQueryParameter("Uschamp");
    //     $.ajax({
    //         type: "GET",
    //         url: "/api/UserSkin/GetUserSkinDetail",
    //         data: { champName: champName },
    //         dataType: "json",
    //         success: function (skin) {
    //             var container = $('#getuserskindetail');
    //             container.empty();
    //             var row = '<div>' +
    //                 '<h1>Tranh phuc hien co</h1>' +
    //                 '<div style="display: flex;" class="skinlist">' +
    //                 '<div style="display: flex; flex-direction: column;">';

    //             var skinProperties = ['skin1', 'skin2', 'skin3', 'skin4', 'skin5', 'skin6', 'skin7', 'skin8', 'skin9', 'skin10', 'skin11', 'skin12', 'skin13', 'skin14', 'skin15', 'skin16', 'skin17', 'skin18'];

    //             for (var i = 0; i < skinProperties.length; i++) {
    //                 var skinProperty = skinProperties[i];
    //                 if (skin[skinProperty]) {
    //                     row += '<img src="/Pictures/Skins/' + skin[skinProperty] + '"/>';
    //                 }
    //             }

    //             row += '</div></div></div>';
    //             container.append(row);
    //         },
    //         error: function (error) {
    //             console.error("Error fetching data:", error);
    //         }
    //     });
    // };
    // $(document).ready(function () {
    //     fetchSkinDetails();
    //     setInterval(fetchSkinDetails, 30000);
    // });
</script>
