@{
    ViewData["Title"] = "Detai Champion";
    Layout = null;
}
<h1>Detail Champion Page</h1>
<p id="displayId"></p>
<script>
    function getQueryParameter(name) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }
</script>
