@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewData["Title"]</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/AdminUpdate.css">
<!-- jQuery should be loaded here -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div id="addupdateModal" class="modal fade" tabindex="-1" aria-labelledby="ShowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Details Champ Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addupdateForm">
                    <div class="mb-3">
                        <label for="addversion_update" class="form-label">Version Update</label>
                        <input type="text" class="form-control" id="addversion_update" name="addversion_update" required>
                    </div>
                    <div class="mb-3">
                        <label for="addpicheadblur" class="form-label">Background Blur</label>
                        <input type='file' class="form-control" id="addpicheadblur" name="addpicheadblur" required onchange="readURL(this);" />
                        <img id="blah" src="#" alt="" />
                    </div>
                    <div class="mb-3">
                        <label for="addpicheadmain" class="form-label">Background Main</label>
                        <input type='file' class="form-control" id="addpicheadmain" name="addpicheadmain" required onchange="readURL(this);" />
                        <img id="blah" src="#" alt="" />
                    </div>
                    <div class="mb-3">
                        <label for="addmaintitle" class="form-label">Main Title</label>
                        <input type="text" class="form-control" id="addmaintitle" name="addmaintitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="addmaindestitle" class="form-label">Details Main Title</label>
                        <input type="text" class="form-control" id="addmaindestitle" name="addmaindestitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="addpicupdate" class="form-label">Image Update</label>
                        <input type='file' class="form-control" id="addpicupdate" name="addpicupdate" required onchange="readURL(this);" />
                        <img id="blah" src="#" alt="" />
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle1" class="form-label">Title 1</label>
                        <input type="text" class="form-control" id="addupversiontitle1" name="addupversiontitle1" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle_con1" class="form-label">Details Title 1</label>
                        <input type="text" class="form-control" id="addupversiontitle_con1" name="addupversiontitle_con1" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle2" class="form-label">Title 2</label>
                        <input type="text" class="form-control" id="addupversiontitle2" name="addupversiontitle2" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle_con2" class="form-label">Details Title 2</label>
                        <input type="text" class="form-control" id="addupversiontitle_con2" name="addupversiontitle_con2" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle3" class="form-label">Title 3</label>
                        <input type="text" class="form-control" id="addupversiontitle3" name="addupversiontitle3" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle_con3" class="form-label">Details Title 3</label>
                        <input type="text" class="form-control" id="addupversiontitle_con3" name="addupversiontitle_con3" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle4" class="form-label">Title 4</label>
                        <input type="text" class="form-control" id="addupversiontitle4" name="addupversiontitle4" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle_con4" class="form-label">Details Title 4</label>
                        <input type="text" class="form-control" id="addupversiontitle_con4" name="addupversiontitle_con4" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle5" class="form-label">Title 5</label>
                        <input type="text" class="form-control" id="addupversiontitle5" name="addupversiontitle5" required>
                    </div>
                    <div class="mb-3">
                        <label for="addupversiontitle_con5" class="form-label">Details Title 5</label>
                        <input type="text" class="form-control" id="addupversiontitle_con5" name="addupversiontitle_con5" required>
                    </div>
                    <div class="mb-3">
                        <label for="addnangcaptrainghiem" class="form-label">Nang cap trai nghiem</label>
                        <input type="text" class="form-control" id="addnangcaptrainghiem" name="addnangcaptrainghiem" required>
                    </div>
                    <div class="mb-3">
                        <label for="addsualoi" class="form-label">Fix</label>
                        <input type="text" class="form-control" id="addsualoi" name="addsualoi" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="Submit_Add_Update()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="deleteupdateModal" class="modal fade" tabindex="-1" aria-labelledby="ShowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Update Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteupdateForm">
                    <div class="mb-3">
                        <label for="delversion_update" class="form-label">Version Update</label>
                        <input type="text" class="form-control" id="delversion_update" name="delversion_update" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="Submit_Delete_Update()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="updateupdateModal" class="modal fade" tabindex="-1" aria-labelledby="ShowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Update Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateupdateForm">
                    <div class="mb-3">
                        <label for="upversion_update" class="form-label">Version Update</label>
                        <input type="text" class="form-control" id="upversion_update" name="upversion_update" required>
                    </div>
                    <div class="mb-3">
                        <label for="uppicheadblur" class="form-label">Background Blur</label>
                        <input type='file' class="form-control" id="uppicheadblur" name="uppicheadblur" required onchange="readURL(this);" />
                        <img id="blah" src="#" alt="" />
                    </div>
                    <div class="mb-3">
                        <label for="uppicheadmain" class="form-label">Background Main</label>
                        <input type='file' class="form-control" id="uppicheadmain" name="uppicheadmain" required onchange="readURL(this);" />
                        <img id="blah" src="#" alt="" />
                    </div>
                    <div class="mb-3">
                        <label for="upmaintitle" class="form-label">Main Title</label>
                        <input type="text" class="form-control" id="upmaintitle" name="upmaintitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="upmaindestitle" class="form-label">Details Main Title</label>
                        <input type="text" class="form-control" id="upmaindestitle" name="upmaindestitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="uppicupdate" class="form-label">Image Update</label>
                        <input type='file' class="form-control" id="uppicupdate" name="uppicupdate" required onchange="readURL(this);" />
                        <img id="blah" src="#" alt="" />
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle1" class="form-label">Title 1</label>
                        <input type="text" class="form-control" id="upupversiontitle1" name="upupversiontitle1" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle_con1" class="form-label">Details Title 1</label>
                        <input type="text" class="form-control" id="upupversiontitle_con1" name="upupversiontitle_con1" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle2" class="form-label">Title 2</label>
                        <input type="text" class="form-control" id="upupversiontitle2" name="upupversiontitle2" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle_con2" class="form-label">Details Title 2</label>
                        <input type="text" class="form-control" id="upupversiontitle_con2" name="upupversiontitle_con2" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle3" class="form-label">Title 3</label>
                        <input type="text" class="form-control" id="upupversiontitle3" name="upupversiontitle3" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle_con3" class="form-label">Details Title 3</label>
                        <input type="text" class="form-control" id="upupversiontitle_con3" name="upupversiontitle_con3" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle4" class="form-label">Title 4</label>
                        <input type="text" class="form-control" id="upupversiontitle4" name="upupversiontitle4" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle_con4" class="form-label">Details Title 4</label>
                        <input type="text" class="form-control" id="upupversiontitle_con4" name="upupversiontitle_con4" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle5" class="form-label">Title 5</label>
                        <input type="text" class="form-control" id="upupversiontitle5" name="upupversiontitle5" required>
                    </div>
                    <div class="mb-3">
                        <label for="upupversiontitle_con5" class="form-label">Details Title 5</label>
                        <input type="text" class="form-control" id="upupversiontitle_con5" name="upupversiontitle_con5" required>
                    </div>
                    <div class="mb-3">
                        <label for="upnangcaptrainghiem" class="form-label">Nang cap trai nghiem</label>
                        <input type="text" class="form-control" id="upnangcaptrainghiem" name="upnangcaptrainghiem" required>
                    </div>
                    <div class="mb-3">
                        <label for="upsualoi" class="form-label">Fix</label>
                        <input type="text" class="form-control" id="upsualoi" name="upsualoi" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="Submit_Update_Update()">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row add_update_main">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-1 col-md-offset-4 alert alert-info add_btn" onclick="Add_Update()">
                            <a style="float: right; cursor: pointer">Add a update</a>
                        </div>
                        <div class="col-md-1 col-md-offset-4 alert alert-info add_btn" onclick="Delete_Update()">
                            <a style="float: right; cursor: pointer">Delete a update</a>
                        </div>
                        <div class="col-md-1 col-md-offset-4 alert alert-info add_btn" onclick="Update_Update()">
                            <a style="float: right; cursor: pointer">Change a update</a>
                        </div>
                    </div>
                    <div></div>
                    <h4 class="card-title">Update</h4>
                    <h6 class="card-title mt-5"><i class="me-1 font-18 mdi mdi-numeric-1-box-multiple-outline"></i>Details</h6>
                    <div class="table-responsive" id="updateTableBody"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Add_Update() {
        var modal = new bootstrap.Modal(document.getElementById('addupdateModal'), {
            keyboard: false
        });
        modal.show();
    }

    function Delete_Update() {
        var modal = new bootstrap.Modal(document.getElementById('deleteupdateModal'), {
            keyboard: false
        });
        modal.show();
    }

    function Update_Update() {
        var modal = new bootstrap.Modal(document.getElementById('updateupdateModal'), {
            keyboard: false
        });
        modal.show();
    }

    function Submit_Add_Update() {
        var formData = {
            version_update: $('#addversion_update').val(),
            picheadblur: $('#addpicheadblur').val(),
            picheadmain: $('#addpicheadmain').val(),
            maintitle: $('#addmaintitle').val(),
            maindestitle: $('#addmaindestitle').val(),
            picupdate: $('#addpicupdate').val(),
            upversiontitle1: $('#addupversiontitle1').val(),
            upversiontitle_con1: $('#addupversiontitle_con1').val(),
            upversiontitle2: $('#addupversiontitle2').val(),
            upversiontitle_con2: $('#addupversiontitle_con2').val(),
            upversiontitle3: $('#addupversiontitle3').val(),
            upversiontitle_con3: $('#addupversiontitle_con3').val(),
            upversiontitle4: $('#addupversiontitle4').val(),
            upversiontitle_con4: $('#addupversiontitle_con4').val(),
            upversiontitle5: $('#addupversiontitle5').val(),
            upversiontitle_con5: $('#addupversiontitle_con5').val(),
            nangcaptrainghiem: $('#addnangcaptrainghiem').val(),
            sualoi: $('#addsualoi').val()
        };

        $.ajax({
            type: "POST",
            url: "/api/AdminUpdate/AddUpHead",
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.statusCode === 200) {
                    alert("Add update successful: " + response.statusMessage);
                    $('#addupdateModal').modal('hide');
                    $('#addupdateForm')[0].reset();
                    location.reload();
                } else {
                    alert("Add update failed: " + response.statusMessage);
                }
            },
            error: function (error) {
                console.error("AJAX error response:", error);
                alert("Error during add update.");
            }
        });
    }

    function Submit_Update_Update() {
        var formData = {
            version_update: $('#upversion_update').val(),
            picheadblur: $('#uppicheadblur').val(),
            picheadmain: $('#uppicheadmain').val(),
            maintitle: $('#upmaintitle').val(),
            maindestitle: $('#upmaindestitle').val(),
            picupdate: $('#uppicupdate').val(),
            upversiontitle1: $('#upupversiontitle1').val(),
            upversiontitle_con1: $('#upupversiontitle_con1').val(),
            upversiontitle2: $('#upupversiontitle2').val(),
            upversiontitle_con2: $('#upupversiontitle_con2').val(),
            upversiontitle3: $('#upupversiontitle3').val(),
            upversiontitle_con3: $('#upupversiontitle_con3').val(),
            upversiontitle4: $('#upupversiontitle4').val(),
            upversiontitle_con4: $('#upupversiontitle_con4').val(),
            upversiontitle5: $('#upupversiontitle5').val(),
            upversiontitle_con5: $('#upupversiontitle_con5').val(),
            nangcaptrainghiem: $('#upnangcaptrainghiem').val(),
            sualoi: $('#upsualoi').val()
        };

        $.ajax({
            type: "POST",
            url: "/api/AdminUpdate/UpdateUpHead",
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.statusCode === 200) {
                    alert('Change updated successfully!');
                    $('#updateupdateModal').modal('hide');
                    $('#updateupdateForm')[0].reset();
                    location.reload();
                } else {
                    alert('Update failed: ' + response.statusMessage);
                }
            },
            error: function (error) {
                console.error('AJAX error:', error);
                alert('Error changing update');
            }
        });
    }

    function Submit_Delete_Update() {
        var formData = {
            version_update: $('#delversion_update').val()
        };

        $.ajax({
            type: "POST",
            url: "/api/AdminUpdate/DeleteUpHead",
            data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.statusCode === 200) {
                    alert("Delete update successful: " + response.statusMessage);
                    $('#deleteupdateModal').modal('hide');
                    $('#deleteupdateForm')[0].reset();
                    location.reload();
                } else {
                    alert("Delete update failed: " + response.statusMessage);
                }
            },
            error: function (error) {
                console.error("AJAX error response:", error);
                alert("Error during delete update.");
            }
        });
    }

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/AdminUpdate/GetUpHead",
            dataType: "json",
            success: function (data) {
                var tbody = $('#updateTableBody');
                tbody.empty();
                data.forEach(function (update, index) {
                    var row =
                        '<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" style="margin-right: 10px;" data-bs-target="#offcanvasTop' + index + '" aria-controls="offcanvasTop' + index + '"> Version ' + update.version_update + ' </button>' +
                        '<div class="offcanvas offcanvas-top" style="height: 700px;" tabindex="-1" id="offcanvasTop' + index + '" aria-labelledby="offcanvasTopLabel' + index + '">' +
                        '<div class="offcanvas-header">' +
                        '<h5 id="offcanvasTopLabel' + index + '"><h3>Details Update</h3></h5>' +
                        '<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="offcanvas-body">' +
                        '<div class="row">' +
                        '<div class="col-xxl-4">' +
                        '<h4>Background Blur</h4>' +
                        '<img style="height: 100px;" src="/Pictures/Update/' + update.picheadblur + '" />' +
                        '</div>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Background Main</h4>' +
                        '<img style="height: 100px;" src="/Pictures/Update/' + update.picheadmain + '" />' +
                        '</div>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Image Update</h4>' +
                        '<img style="height: 100px;" src="/Pictures/Update/' + update.picupdate + '" />' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Main Title: ' + update.maintitle + '</h4>' +
                        '</div>' +
                        '<div class="col-xxl-8">' +
                        '<h4>Details Main Title: <p>' + update.maindestitle + '</p></h4>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Title 1: ' + update.upversiontitle1 + '</h4>' +
                        '</div>' +
                        '<div class="col-xxl-8">' +
                        '<h4>Details Title 1</h4>' +
                        '<p>' + update.upversiontitle_con1 + '</p>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Title 2: ' + update.upversiontitle2 + '</h4>' +
                        '</div>' +
                        '<div class="col-xxl-8">' +
                        '<h4>Details Title 2</h4>' +
                        '<p>' + update.upversiontitle_con2 + '</p>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Title 3: ' + update.upversiontitle3 + '</h4>' +
                        '</div>' +
                        '<div class="col-xxl-8">' +
                        '<h4>Details Title 3</h4>' +
                        '<p>' + update.upversiontitle_con3 + '</p>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Title 4: ' + update.upversiontitle4 + '</h4>' +
                        '</div>' +
                        '<div class="col-xxl-8">' +
                        '<h4>Details Title 4</h4>' +
                        '<p>' + update.upversiontitle_con4 + '</p>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-4">' +
                        '<h4>Title 5: ' + update.upversiontitle5 + '</h4>' +
                        '</div>' +
                        '<div class="col-xxl-8">' +
                        '<h4>Details Title 5</h4>' +
                        '<p>' + update.upversiontitle_con5 + '</p>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-12">' +
                        '<h4>Nang cap trai nghiem: <p>' + update.nangcaptrainghiem + '</p></h4>' +
                        '</div>' +
                        '<hr/>' +
                        '<div class="col-xxl-12">' +
                        '<h4>Sua loi: <p>' + update.sualoi + '</p></h4>' +
                        '</div>' +
                        '<hr/>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                    tbody.append(row);
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>