@{
    ViewData["Title"] = "Index";
}
<link href="~/css/IndexUs.css" rel="stylesheet" />
<link href="~/js/IndexUs.js" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<section class="ID_VIDEO1 w-100 p-0">
    <div class="container-fluid w-100 p-0 ID_VIDEO">
        <div class="row">
            <div class="col-xxl-12 p-0">
                <div class="container-fluid w-100 p-0 position-relative">
                    <video class="w-100 p-0" autoplay loop muted>
                        <source src="~/Videos/Video 14.mp4" type="video/mp4" />
                    </video>
                    <div class="ID_video-overlay">
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                                <div class="row">
                                    <img src="~/Pictures/IconGames/Icon 8.png" class="w-100" />
                                </div>
                                <div class="row justify-content-center">
                                    <button class="btn btn-secondary btn-lg ID_NUT">
                                        <a href="#">CHƠI MIỄN PHÍ</a>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ID_NOC">
    <div class="container-fluid w-100">
        <div class="row w-100 ID_NOC_ROW" style="position:absolute;">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ID_NOC_MINI_1">
                <div class="ID_NOC_MINI">
                    <h3>CHẾ ĐỘ CHƠI</h3>
                    <h1>BƯỚC VÀO VÕ ĐÀI</h1>
                    <p>Các nâng cấp mạnh mẽ, một bản đồ mới và gấp đôi số đội: Võ Đài đã quay trở lại và lợi hại hơn xưa.</p>
                    <div class="ID_NOC_IN_MINI">
                        <button class="btn btn-secondary btn-lg ID_NOC_NUT">
                            <a href="#">ĐỌC THÊM</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <img class="w-100 p-0" src="~/Pictures/Backgrounds/Pic 18.png" />
        </div>

    </div>
</section>
<section class="ID_TINTUC">
    <div class="container-fluid w-100">
        <h2 class="p-3 ID_TINTUC_TIEUDE">TIN TỨC TIÊU BIỂU</h2>
        <div class="ID_TINTUC_news-section row" id="getlistnewsindex">
            
        </div>
    </div>
</section>
<section class="ID_TUONG">
    <div class="container-fluid w-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 text-center ID_TUONG_TEXT">
                <h5>CHỌN NGAY MỘT</h5>
                <h3>TƯỚNG</h3>
                <p>Cho dù thích lao vào giao tranh, thích hỗ trợ đồng đội hoặc cả hai, bạn sẽ luôn tìm thấy vị trí thích hợp dành cho mình trong Summoner's Rift.</p>
                <div class="ID_TUONG_NUT">
                    <div class="row ID_TUONG_ROW">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ID_TUONG_COL">
                            <a class="ID_TUONG_IN_NUT btn btn-lg " href="#">KHÁM PHÁ THÊM CÁC VỊ TƯỚNG</a>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 ID_TUONG_COL_2">
                            <a class="ID_TUONG_IN_NUT_2 btn btn-lg" href="#">CHƠI NGAY</a>
                        </div>
                    </div>
                </div>
                <div class="ID_TUONG_THANHROLE">
                    <div class="row pt-5">
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ID_TUONG_IN_THANHROLE" onclick="updateChampionContent('sat_thu')">
                            <img class="ID_TUONG_IN_THANHROLE_IMG img-fluid" src="~/Pictures/IconGames/Icon 15.png" alt="SÁT THỦ" />
                            <p>SÁT THỦ</p>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ID_TUONG_IN_THANHROLE" onclick="updateChampionContent('dau_si')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon 16.png" alt="ĐẤU SĨ" />
                            <p>ĐẤU SĨ</p>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ID_TUONG_IN_THANHROLE" onclick="updateChampionContent('phap_su')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon 17.png" alt="PHÁP SƯ" />
                            <p>PHÁP SƯ</p>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ID_TUONG_IN_THANHROLE" onclick="updateChampionContent('xa_thu')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon 18.png" alt="XẠ THỦ" />
                            <p>XẠ THỦ</p>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ID_TUONG_IN_THANHROLE" onclick="updateChampionContent('ho_tro')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon 19.png" alt="HỖ TRỢ" />
                            <p>HỖ HỢ</p>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 ID_TUONG_IN_THANHROLE" onclick="updateChampionContent('do_don')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon 20.png" alt="ĐỠ ĐÒN" />
                            <p>ĐỠ ĐÒN</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                <div class="ID_TUONG_HINHBENPHAI d-flex justify-content-center">
                    <img id="mainImage" class="img-fluid ID_TUONG_HINHBENPHAI_1" src="~/Pictures/Champions Update/P12.png" alt="AKALI" />
                </div>
                <div class="ID_TUONG_TEXT_BENPHAI text-center">
                    <p id="mainName">AKALI</p>
                    <span id="mainDescription">Sát Thủ Đơn Độc</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ID_HAGUC">
    <div class="container-fluid w-100 p-0">

        <div class="row ID_HAGUC_BG">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <img class="img-fluid" src="~/Pictures/Champions Update/P 18.png" alt="Alternate Text" />
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 d-flex flex-column justify-content-center">
                <div class="ID_HAGUC_TEXT d-flex flex-column justify-content-center">
                    <p class="ID_HAGUC_TEXT_1">HẠ GỤC KẺ ĐỊCH</p>
                    <P class="ID_HAGUC_TEXT_2">MỘT CÁCH SANG CHẢNH</P>
                    <P class="ID_HAGUC_TEXT_3">Thay đổi diện mạo các vị tướng yêu thích với trang phục để tạo nên điểm nhấn của riêng bạn.</P>
                </div>
                <div class="ID_HAGUC_NUT">
                    <button class="ID_HAGUC_IN_NUT btn btn-lg">
                        <a href="#">CHƠI NGAY</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/IndexUs.js"></script>
</section>
<section class="ID_GIOITHIEU">
    <div class="container-fluid w-100 p-0">
        <div class="row ID_GIOITHIEU_BG">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
                <div class="ID_GIOITHIEU_TEXT">
                    <div class="row d-flex justify-content-center align-items-center text-center">
                        <div class="col-xxl-4 w-100 ID_GIOITHIEU_TEXT_1">
                            <p>RẤT NHIỀU CÁCH</p>
                        </div>
                        <div class="col-xxl-4 w-100 ID_GIOITHIEU_TEXT_2">
                            <span>CHƠI</span>
                        </div>
                        <div class="col-xxl-4 w-100 d-flex justify-content-center ID_GIOITHIEU_NUT">
                            <button class="btn btn-lg">
                                <a href="#">CHƠI NGAY</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="ID_GIOITHIEU_THANHCLIP">
                    <div class="row pt-5">
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 p-0 ID_GIOITHIEU_IN_THANHCLIP" onclick="updateModeContent('vodai')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon-20.png" alt="Võ Đài" />
                            <p class="mt-3 ID_GIOITHIEU_IN_THANHCLIP_TEXT">VÕ ĐÀI</p>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 p-0 ID_GIOITHIEU_IN_THANHCLIP" onclick="updateModeContent('summoner')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon-21.png" alt="Summoner's Rift" />
                            <p class="mt-3 ID_GIOITHIEU_IN_THANHCLIP_TEXT">SUMMONER'S RIFT</p>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 p-0 ID_GIOITHIEU_IN_THANHCLIP" onclick="updateModeContent('aram')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon-22.png" alt="ARAM" />
                            <p class="mt-3 ID_GIOITHIEU_IN_THANHCLIP_TEXT">ARAM</p>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 p-0 ID_GIOITHIEU_IN_THANHCLIP" onclick="updateModeContent('tft')">
                            <img class="img-fluid" src="~/Pictures/IconGames/Icon-23.png" alt="Đấu Trường Chân Lý" />
                            <p class="mt-3 ID_GIOITHIEU_IN_THANHCLIP_TEXT">ĐẤU TRƯỜNG CHÂN LÝ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 ID_GIOITHIEU_VIDEO">
                <div class="ID_GIOITHIEU_border-circle mt-3 mb-3">
                    <div class="ID_GIOITHIEU_video-container">
                        <video class="rounded-circle" muted autoplay loop id="mainVideo">
                            <source id="mainVideosource" src="~/Videos/Video-15.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="ID_GIOITHIEU_VIDEO_TEXT">
                    <p id="mainNameVideo" class="ID_GIOITHIEU_VIDEO_TEXT_1">HỠI CÁC CẶP BÀI TRÙNG</p>
                    <p id="mainDescriptionVdieo" class="ID_GIOITHIEU_VIDEO_TEXT_2">Hãy vượt qua hàng loạt bản đồ, phối hợp các nâng cấp và trang bị tuyệt hảo để cùng người anh em chí cốt của bạn leo hạng trong giải đấu 2v2v2v2v2v2v2v2 này nhé.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/IndexUs.js"></script>
</section>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/api/UserNews/GetUserNews",
            dataType: "json",
            success: function (data) {
                console.log("Data fetched successfully:", data);
                var tbody = $('#getlistnewsindex');
                tbody.empty();
                data.forEach(function (news, index) {
                    var row =
                        '<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">' +
                        '<a href="/User/Detail_News?Usnews=' + news.namenews + '" id = "' + news.namenews + '" style="text-decoration: none;">' +
                        '<div class="card h-100">' +
                        '<img class="card-img-top TUONG_CARD_IMG" src = "/Pictures/News/' + news.picnewmain + '" alt = "">' +
                        '<div class="card-body UPDATE_CARD_BG_TEXT">' +
                        '<h4 style="color: #121212">' + news.maintitle + '</h4>' +
                        '<p class="card-text UPDATE_CARD_TEXT" style="color: #121212;">' + news.destitle + '</p>' +
                        '</div>' +
                        '</div>' +
                        '</a>' +
                        '</div>';
                    tbody.append(row);
                });
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            }
        });
    });
</script>

